language: generic
sudo: required
services:
  - docker
before_install:
  - docker build -t tysullberg/docker-react -f Dockerfile.dev .
script:
  - docker run -e CI=true tysullberg/docker-react npm run test
deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react-playground"
  env: "DockerReactPlayground-env"
  bucket_name: "elasticbeanstalk-us-east-2-842155702825"
  path: "docker-react-playground"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
